{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Message {% endblock %}</h1>
    <form method="post">
        <label for="command">Title</label>
        <br>
        <input type="text" name="Command"
               placeholder="work_info_dict['messages']"
               value="{{ request.form['command'] }}"></input>
        <br>

<!--        <label for="content">Message Content</label>-->
<!--        <br>-->
<!--        <textarea name="content"-->
<!--                  placeholder="Message content"-->
<!--                  rows="15"-->
<!--                  cols="60"-->
<!--                  >{{ request.form['content'] }}</textarea>-->
<!--        <br>-->
        <button type="submit">Submit</button>
    </form>
{% endblock %}

{% block content_2 %}
    <h1>{% block title_2 %} Messages {% endblock %}</h1>
    {% for message in messages %}
        <div class='message'>
            <h3>{{ message['command'] }}</h3>
            <p>{{ message['output'] }}</p>
        </div>
    {% endfor %}
{% endblock %}